<div class="stats">
  <h2>Subscribers</h2>
  <ul>
    <% @subscriber_stats.each do |s| %>
     <li><%= s.first %>: <strong><%= s.last.join(" : ") %></strong></li>
    <% end %>
  </ul>
  <p>For email: <strong><%= @subscribers_for_email %></strong></p>
  <p>Unsubscribed: <%= @unsubscribed.map { |key, value| "#{key}: #{value}" }.join(" ") %></p>
</div>

<div class="offset-selection"><%= link_to "<<<<", dashboard_path(week_offset: params[:week_offset] ? params[:week_offset].to_i - 1 : 0) %> offset <%= link_to ">>>>", dashboard_path(week_offset: params[:week_offset] ? params[:week_offset].to_i + 1 : 2) %></div>
<div class="digests">
  <% @future_digests.each do |d| %>
    <div class="digest <%= "full" if (d.links_by_category[Weekly::CategoryMatcher::CONFIGURATION[d.type][:default]].presence || []).size == 5  %>">
      <h2 class="digest-name"><%= "#{d.type} ##{d.issue} (#{(d.to + 1.day).strftime("%d.%m %Y")})" %></h2>
      <% d.messages.each do |message| %>
        <p><%= message.content.html_safe %></p>
      <% end %>
      <% d.links_by_category.each do |category, links| %>
        <h4><%= category.name %></h4>
        <ul>
          <% links.each do |link| %>
            <li>
              <%= link_to link.title, link.url, class: link.possible_duplicate? ? "link duplicate" : "link" %> [<%= "#{link.imminent_clicks}:#{link.clicks}" %>] (<%= link_to "Edit", edit_link_path(link), class: "action" %> | <%= link_to "Delete", link, method: :delete, data: { confirm: "Are you sure?" }, class: "action" %> | <%= link_to "Share", share_requests_new_link_path(link), class: "action" unless link.share_requests.exists? %>) :: <%= link.tags.map(&:name).join(", ") %>
              <br /><%= link.description %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
