<div class="sponsors stats">
  <% @sponsor_stats.each do |links| %>
    <% if links.any? %>
      <h2><%= links.first.digest %></h2>
      <ul>
      <% links.each do |link| %>
        <% digest = Weekly::Digest.new(link.digest, issue: Weekly::Digest.issue_from(link.digest, link.created_at)) %>
        <li><%= link.title %> (#<%= digest.issue %> - <%= (digest.to + 1.day).strftime("%d.%m %Y") %>) : <%= link.clicks %> clicks</li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
