<%= fields_for @interaction do |f| %>
  <%= hidden_field_tag :type, @interaction.type %>
  
  <div class="pure-control-group">
    <%= f.label :access_token %>
    <%= f.text_field :access_token, :autofocus => true %>
  </div>

  <div class="pure-control-group">
    <%= f.label :access_token_secret %>
    <%= f.text_field :access_token_secret %>
  </div>
<% end %>
