<h1>New Interaction</h1>

<% unless @interaction.errors.any? %>
  <label for="type">Type</label>
  <%= select_tag :type, options_for_select(available_interaction_options, @interaction.try(:type)) %>
<% end %>

<%= form_for @interaction, :url => interactions_path do |f| %>
  <%= render "shared/errors", locals: { errors?: @interaction.errors.any?, error_message: @interaction.errors.full_messages.to_sentence } %>
  <% if @interaction.errors.any? %>
    <%= render @interaction.type.underscore %>
  <% else %>
    <div id="new-interaction-container"></div>
  <% end %>
  <%= f.submit 'Add' %>
<% end %>
