<% if @interaction.errors.any? %>
<h1>Twitter Interaction</h1>
  <div class="error">
    <h3>Invalid input</h3>
    <p><%= @interaction.errors.full_messages.to_sentence %></p>
  </div>
<% end %>

<%= form_for @interaction, :url => interactions_path, :html => { :class => "pure-form pure-form-aligned" } do |f| %>

  <%= hidden_field_tag :type, @interaction.type %>

  <div class="pure-control-group">
    <%= f.label :consumer_key %>
    <%= f.text_field :consumer_key, :autofocus => true %>
  </div>

  <div class="pure-control-group">
    <%= f.label :consumer_secret %>
    <%= f.text_field :consumer_secret %>
  </div>

  <div class="pure-control-group">
    <%= f.label :access_token %>
    <%= f.text_field :access_token %>
  </div>

  <div class="pure-control-group">
    <%= f.label :access_token_secret %>
    <%= f.text_field :access_token_secret %>
  </div>

  <div class="pure-controls">
    <%= f.submit 'Add', :class => "pure-button pure-button-primary pure-input-1-4" %>
  </div>
<% end %>
