<h1>Summary Builders</h1>

<%= render "shared/notifications" %>

<p><%= link_to 'New', new_summary_builder_path, :class => "pure-button pure-button-primary" %></p>

<% if @summary_builders.any? %>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @summary_builders.each do |builder| %>
        <tr>
          <td><%= builder.name %></td>
          <td><%= builder.created_at.to_formatted_s(:long) %></td>
          <td>
            <%= link_to 'Edit', edit_summary_builder_path(builder.id) %>
            <%= link_to 'Delete', summary_builder_path(builder.id), :data => { :confirm => "Are you sure you want to delete #{ builder.name }?" }, :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
