<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'emails', media: 'all' %>
  </head>
<body class="<%= @digest.type %>">
  <header>
    <h1><%= digest_name(@digest.type).downcase %><br />digest</h1>
    <aside>issue <%= link_to "##{@digest.issue}", digest_url(@digest.issue, host: @digest.domain) %></aside>
  </header>

  <hr />
  <p class="perex">Ping &mdash;<br />you've got a mail</p>
  <hr />

  <% @digest.links_by_category.each do |category, links| %>
    <h2><%= category.name %></h2>
    <% links.each do |link| %>
      <%= render partial: "digests/link", locals: { link: link, show_digest: false, url_params: { utm_source: @digest.type, utm_medium: "email", utm_campaign: "digest" }} %>
    <% end %>
  <% end %>
  <div class="share">
    <% title = "#{digest_name(@digest.type)} Digest ##{@digest.issue} for #{formatted_date(@digest.to + 1.day)}" %>
    <h2>share</h2>
    <ul>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?text=<%= CGI.escape(title) %>&url=<%= digest_url(@digest.issue, host: @digest.domain) %>&via=<%= twitter_username(@digest.type) %>">Tweet</a></li>
      <li class="reddit"><a href="//www.reddit.com/submit?url=<%= digest_url(@digest.issue, host: @digest.domain) %>&title=<%= CGI.escape(title) %>">Reddit</a></li>
      <li class="facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=<%= digest_url(@digest.issue, host: @digest.domain) %>">Facebook</a></li>
      <li class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= digest_url(@digest.issue, host: @digest.domain) %>&title=<%= CGI.escape(title) %>&source=<%= @digest.domain %>">LinkedIn</a></li>
    </ul>
  </div>
  <div class="ads">
    <p>Do you want to sponsor the digest? See our <%= link_to "advertisement options", advertise_url(host: @digest.domain) %>.<br />Do you want to post a job? Check out our <%= link_to "job listings", job_url(host: @digest.domain) %>.</p>
  </div>
  <hr />
  <footer>
    <p>&copy; <%= Time.zone.now.year %> <%= link_to "Jakub Chodounský", "https://chodounsky.net" %><br /><small>If you no longer wish to receive these emails, click to <%= link_to "unsubscribe",  subscriber_unsubscribe_url(@subscriber.id, host: @digest.domain) %>.</small></p>
  </footer>
</body>
</html>
