<article class="digest-article <%= "no-description" unless link.description.present? %>">
  <%= link_to link.title, redirect_link_url(link, { host: @digest_type ? Weekly::Digest.domain_from(@digest_type) : @digest.domain }.merge(url_params || {})) %>
  <% if show_digest %>
    <% issue = Weekly::Digest.issue_from(@digest_type, link.created_at) %>
    <aside><%= link.tags.map { |t| t.name }.join(", ") %> (<%= link_to "##{issue}", digest_path(issue) %>)</aside>
  <% else %>
    <aside><%= link.tags.map { |t| t.name }.join(", ") %></aside>
  <% end %>
  <% if link.description.present? %>
    <p><small><%= link.description %></small></p>
  <% end %>
</article>
