<% content_for :title do %>
  <%= "Stay up to date with the best Weekly #{digest_name(@digest_type)} Digest" %>
<% end %>

<% if @digest_type == Weekly::Digest::PROGRAMMING %>
  <h1>One email per week,<br />no spam.</h1>
  <hr />
  <p>Stay up to date with current web technologies.</p>
  <p>Get a <strong>free</strong>, weekly newsletter about the latest news in programming and software development in web.</p>
  <p>The only news source you need targeted on (but not limited to) <strong>Ruby</strong>, <strong>Javascript</strong>  and <strong>Web development</strong>.</p>
  <%= render partial: "subscribers/form" %>
<% elsif @digest_type == Weekly::Digest::PHOTOGRAPHY %>
  <h1>One email per week,<br />no spam.</h1>
  <hr />
  <p>Stay up to date with news in photography.</p>
  <p>Get a <strong>free</strong>, weekly newsletter about the latest news in photography, tutorials and gear tests.</p>
  <p>The only news source you need targeted on (but not limited to) <strong>photography</strong>, <strong>tutorials</strong>, <strong>gear</strong> and <strong>photo software</strong>.</p>
  <%= render partial: "subscribers/form" %>
<% elsif @digest_type == Weekly::Digest::CSHARP %>
  <h1>One email per week,<br />no spam.</h1>
  <hr />
  <p>Stay up to date with C# and .NET Framework</p>
  <p>Get a <strong>free</strong>, weekly newsletter about the latest news in .NET Framework and Microsoft technologies.</p>
  <p>The only news source you need targeted on (but not limited to) <strong>C#</strong>, <strong>.NET Framework</strong>, <strong>Azure</strong>, <strong>ASP.NET</strong>  and <strong>WPF</strong>.</p>
  <%= render partial: "subscribers/form" %>
<% elsif @digest_type == Weekly::Digest::ELIXIR %>
  <h1>One email per week,<br />no spam.</h1>
  <hr />
  <p>Stay up to date with Elixir.</p>
  <p>Get a <strong>free</strong>, weekly newsletter about the latest news in functional programming with Elixir.</p>
  <p>The only news source you need targeted on (but not limited to) <strong>Elixir</strong>, <strong>functional programming</strong>, <strong>Phoenix</strong> and <strong>Ecto</strong>.</p>
  <%= render partial: "subscribers/form" %>
<% elsif @digest_type == Weekly::Digest::REACT %>
  <h1>One email per week,<br />no spam.</h1>
  <hr />
  <p>Stay up to date with react.js.</p>
  <p>Get a <strong>free</strong>, weekly newsletter about the latest news in React Javascript community.</p>
  <p>The only news source you need targeted on (but not limited to) <strong>React</strong>, <strong>Javascript</strong>, <strong>Flux</strong> and <strong>functional programming</strong>.</p>
  <%= render partial: "subscribers/form" %>
<% end %>
