<% content_for :title do %>
  <%= "Search" %>
<% end %>

<h1>Search</h1>
<div class="search-form">
  <%= form_tag({ :controller => 'digests', :action => 'search' }, :method => 'get')  do %>
    <%= text_field_tag :search, params[:search], { placeholder: "Enter a search term" } %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% if @links %>
  <% @links.each do |link| %>
    <%= render partial: "link", locals: { link: link, show_digest: true, url_params: { utm_source: @digest_type, utm_medium: "search", utm_campaign: "digest" }} %>
  <% end %>
<% else %>
  <p>No links were found.</p>
<% end %>
