<% content_for :title do %>
  <%= "Search" %>
<% end %>

<h1>Search</h1>
<div class="search-form">
  <%= form_tag({ :controller => 'digests', :action => 'search' }, :method => 'get', class: "pure-form")  do %>
    <%= text_field_tag :search, params[:search], { class: "pure-input-2-3", placeholder: "Enter a search term" } %>
    <%= submit_tag "Search", class: "pure-button pure-button-primary pure-input-1-3" %>
  <% end %>
</div>

<% if @links %>
  <% @links.each do |link| %>
    <%= render partial: "link", locals: { link: link, show_digest: true } %>
  <% end %>
<% else %>
  <p>No links were found.</p>
<% end %>
