<% content_for :title do %>
  <%= "Issue #{@digest.issue} for #{formatted_date(@digest.to + 1.day)}" %>
<% end %>

<% if @digest %>
  <h1><%= link_to "Digests", digests_path %> » <%= @digest.issue %></h1>
  <%= render partial: "subscribers/form" %>
  <% @digest.links_by_category.each do |category, links| %>
    <h2><%= category.name %></h2>
    <% links.each do |link| %>
      <%= render partial: "link", locals: { link: link, show_digest: false } %>
    <% end %>
  <% end %>
<% end %>
