<% content_for :title do %>
  <%= "Submit your article" %>
<% end %>

<h1>Submit article</h1>
<p>Let us know if you wrote an interesting article that you want to share with the world.</p>
<p>If you are a company please consider <%= link_to "becoming a sponsor", advertise_path %> of the newsletter.</p>
<% if @submission.errors.any? %>
  <div class="alert-box alert">
  <ul>
    <% @submission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="success">
    <h3>Success!</h3>
    <p><%= flash[:success] %>.</p>
  </div>
<% end %>
<%= form_for @submission, url: submit_path(@submission) do |f|  %>
  <fieldset>
    <legend>Tell us something about the article</legend>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
    <%= f.label :url %>
    <%= f.text_field :url, required: true %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.hidden_field :digest %>
    <%= f.text_field :nickname, style: "display: none;" %>
  </fieldset>
  <%= f.submit "Send" %>
<% end %>

<p>All articles are still manually curated so please don't be upset if it doesn't make it to the list and try next time.</p>

<p>For any forms of company or product advertisement, please have a look at the <%= link_to "sponsor page", advertise_path %>.</p>
