<%= form_for @link_submission, url: links_path(@link_submission) do |f| %>
  <%= render "shared/errors", locals: { errors?: @link_submission.errors.any?, error_message: @link_submission.errors.full_messages.to_sentence } %>
  <%= f.text_field :url, { required: true, autofocus: true } %>

  <%= f.label :tags %>
  <%= f.text_field :tags, { class: "hidden", data: { tags: @link_submission.available_tags.to_json }} %>
  <ul id="tags"></ul>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :title %>
  <%= f.text_field :title, { required: true, disabled: true } %>

  <%= f.label :content %>
  <%= f.text_area :content, { class: "content", disabled: true } %>

  <%= f.label :digest %>
  <%= f.select :digest, @available_types %>

  <%= f.fields_for :link_interactions do |li| %>
    <% @link_submission.interactions.each do |interaction| %>
      <label for=<%= "link_link_interactions_#{interaction.id}" %>>
        <%= li.check_box interaction.id, checked: @link_submission.link_interactions.any? { |li| li.interaction.id == interaction.id} %> <%= interaction.class.humanized_name %>
      </label>
    <% end %>
  <% end %>

  <%= f.submit 'Add' %>
<% end %>
