<div class="subscribe-form">
  <% if flash[:success] %>
    <div class="success">
      <h3>Success!</h3>
      <p><%= flash[:success] %></p>
    </div>
  <% else %>
    <% if flash[:error] %>
      <div class="error">
        <h3>Error!</h3>
        <p><%= flash[:error] %>.</p>
      </div>
    <% end %>
    <%= form_for @subscriber, url: subscribers_path(@subscriber), html: { class: "pure-form" } do |f| %>
      <%= f.text_field :email, required: true, class: "pure-input-2-3", placeholder: "Subscribe to weekly emails! Enter your address here" %>
      <%= f.hidden_field :digest, :value => @subscriber.digest %>
    <%= f.submit "Subscribe", class: "pure-button pure-button-primary pure-input-1-3" %>
    <% end %>
  <% end %>
</div>
