<div class="subscribe-form">
  <% if flash[:success] %>
    <div class="success">
      <h3>Success!</h3>
      <p><%= flash[:success] %>.</p>
    </div>
  <% else %>
    <% if flash[:error] %>
      <div class="error">
        <h3>Error!</h3>
        <p><%= flash[:error] %>.</p>
      </div>
    <% end %>
    <%= form_for @subscriber, url: subscribers_path(@subscriber), html: { class: "subscribe-form" } do |f| %>
      <%= f.text_field :email, required: true, placeholder: "< Your email address >" %>
      <%= f.hidden_field :digest, :value => @subscriber.digest %>
    <%= f.submit "Subscribe" %>
    <% end %>
  <% end %>
</div>
