<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="all, follow" />
  <title>Unsubscribe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="digest <%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}" %>">
<div>
  <h1>Unsubscribe</h1>
  <% if flash[:success] %>
    <div class="success">
      <h3>You were unsubscribed successfully</h3>
      <p><%= flash[:success] %>.</p>
    </div>
    <% elsif flash[:error] %>
    <div class="error">
      <h3>Ooops, there was an error</h3>
      <p><%= flash[:error] %>.</p>
    </div>
  <% end %>
</div>
</body>
</html>

