<!DOCTYPE html>
<html>
<head>
  <title>Linkyard</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic' rel='stylesheet' type='text/css'> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <header>
    <h1><%= link_to 'Linkyard', root_path %></h1>
    <ul>
      <%= navigation_link_to 'Add', root_path %>
      <%= navigation_link_to 'Links', links_path %>
      <%= navigation_link_to 'Interactions', interactions_path %>
      <%= navigation_link_to 'Builders', root_path %>
    <% if user_signed_in? %>
      <%= navigation_link_to current_user.email, edit_user_registration_path %>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <%= navigation_link_to 'Login', new_user_session_path %>
      <%= navigation_link_to 'Sign up', new_user_registration_path %>
    <% end %>
    </ul>
  </header>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
