<!DOCTYPE html>
<html>
<head>
  <title>Weekly Programming Digest</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}" %>">
<div id="page">
  <header>
    <ul>
      <li>Archive</li>
      <li>Search</li>
      <li>RSS</li>
      <li>Contact</li>
    </ul>
  </header>

  <% if notice %>
    <div class="notice">
      <p><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="warning">
      <p><%= alert %></p>
    </div>
  <% end %>

  <%= content_for?(:content) ? yield(:content) : yield %>
</div>
</body>
</html>
